[submodule "SSCM"]
	path = SSCM
	url = git@github.com:payam-avarwand/SSCM.git
[submodule "Cell Marker"]
	path = Cell Marker
	url = git@github.com:payam-avarwand/Cell-Marker.git
[submodule "Py-To-Exe Converter"]
	path = Py-To-Exe Converter
	url = git@github.com:payam-avarwand/Py-To-Exe-Converter.git
