[submodule "Software/SSCM"]
	path = Software/SSCM
	url = git@github.com:payam-avarwand/SSCM.git
[submodule "Software/Cell Marker"]
	path = Software/Cell Marker
	url = git@github.com:payam-avarwand/Cell-Marker.git
[submodule "Software/Py-To-Exe Converter"]
	path = Software/Py-To-Exe Converter
	url = git@github.com:payam-avarwand/Py-To-Exe-Converter.git
[submodule "Software/Wikipedia Contribution Finder"]
	path = Software/Wikipedia Contribution Finder
	url = git@github.com:payam-avarwand/Wikipedia-Contribution-Finder.git
[submodule "Software/Wiki Tazeh"]
	path = Software/Wiki Tazeh
	url = git@github.com:payam-avarwand/Wiki-Tazeh.git
[submodule "Software/Portable Software Manager"]
	path = Software/Portable Software Manager
	url = git@github.com:payam-avarwand/Portable-Software-Manager.git
[submodule "Software/MSI Property Explorer"]
	path = Software/MSI Property Explorer
	url = git@github.com:payam-avarwand/MSI-Property-Explorer.git
[submodule "Software/MSI Installer"]
	path = Software/MSI Installer
	url = git@github.com:payam-avarwand/MSI-Installer.git
[submodule "Software/A Back"]
	path = Software/A Back
	url = git@github.com:payam-avarwand/A-Back.git
[submodule "Software/AYD"]
	path = Software/AYD
	url = git@github.com:payam-avarwand/AYD.git
[submodule "Software/APC"]
	path = Software/APC
	url = git@github.com:payam-avarwand/APC.git
[submodule "Software/PWE"]
	path = Software/PWE
	url = git@github.com:payam-avarwand/PWE.git
[submodule "Software/PS1 to Exe Converter"]
	path = Software/PS1 to Exe Converter
	url = git@github.com:payam-avarwand/PS1-to-Exe-Converter.git
[submodule "Software/ADUm"]
	path = Software/ADUm
	url = git@github.com:payam-avarwand/ADUm.git
[submodule "Software/A PDF Converter"]
	path = Software/A PDF Converter
	url = git@github.com:payam-avarwand/A-PDF-Converter.git
[submodule "Software/A Batch File Zipper"]
	path = Software/A Batch File Zipper
	url = git@github.com:payam-avarwand/A-Batch-File-Zipper.git
[submodule "Software/A Music Visualizer"]
	path = Software/A Music Visualizer
	url = git@github.com:payam-avarwand/A-Music-Visualizer.git
[submodule "Software/ADCm"]
	path = Software/ADCm
	url = git@github.com:payam-avarwand/ADCm.git
[submodule "Software/ANE"]
	path = Software/ANE
	url = git@github.com:payam-avarwand/ANE.git
[submodule "Software/ADCR"]
	path = Software/ADCR
	url = git@github.com:payam-avarwand/ADCR.git
